*{
    transition: 500ms;
    /* display: none;/ */
}

body { 
    

    /* --------------------- NAVBAR CUSTOM STYLE --------------------- */

nav.navbar {
  background: #2874f0 !important;
  padding: 10px 25px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

/* Logo */
.navbar-brand {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Search bar input */
nav .form-control {
  width: 500px !important;   /* You can increase or decrease */
  max-width: 600px;
  padding: 10px 14px;
  border-radius: 3px;
  border: none;
  outline: none;
}

/* Search button */
nav .btn.btn-outline-success {
  background: white !important;
  border: none !important;
  color: #2874f0 !important;
  font-weight: 600;
  padding: 6px 14px;
}

nav .btn.btn-outline-success:hover {
  background: #e3e3e3 !important;
}

/* Cart */
.cart a {
  color: white !important;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.cart a i {
  font-size: 1.4rem;
}

/* Dropdown Text */
.navbar .nav-link {
  color: white !important;
  font-weight: 500;
}

.navbar .dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

    

    header {
        button {
            border: none;

        }

        .btn {
            display: flex;
            margin-top: 3px;

        }

        .bg {
            background-color: white;

            .hi {
                padding-left: 13px;
            }

        }

    }

    .carousel-item {
        width: 100%;
        aspect-ratio: 16/4;

        img {
            height: 550px;

        }

    }

    .row {
       .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background: #fff;
    padding: 10px;
}





.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-body button {
    margin-top: auto;
}


        .card:hover {
            transform: scale(1.02);
            box-shadow: 2px 2px 1px 1.5px rgba(175, 170, 170, 0.54);
        }
    }

    main {
        .ycart {
            p {
                padding-left: 50px;
            }
        }
    }
}



.bi {
    margin-right: 5px;
}

#foot {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    align-items: center;
    height: 45px;
    color: white;

    a {
        color: white;
    }
}

.containers {
    background-color: black;

}

.col {
    padding-top: 25px;
    color: white;
   
    a {
        display: flex;
        align-items: start;
        text-decoration: none;
        color: white;

    }

    .span {
        display: flex;
        align-items: start;
    }
    .title {
         padding-bottom: 10px;
    }

    p {
         padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }


}

.net {
    display: flex;
    padding-top: 13px;
}

.last {
    background-color: rgb(34, 34, 34);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 6px;
} 


