*{
    transition: 500ms;
}

body {
    

    header {
        button {
            border: none;

        }

        .btn {
            display: flex;
            margin-top: 3px;

        }

        .bg {
            background-color: white;

            .hi {
                padding-left: 13px;
            }

        }

    }

    .carousel-item {
        width: 100%;
        aspect-ratio: 16/4;

        img {
            height: 550px;

        }

    }

    .row {
        .card {
            margin-bottom: 10px;
           box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

            img {
                height: 250px;
                /* width: 100%; */

            }
        }

        .card:hover {
            transform: scale(1.02);
            box-shadow: 2px 2px 1px 1.5px rgba(175, 170, 170, 0.54);
        }
    }

    main {
        .ycart {
            p {
                padding-left: 50px;
            }
        }
    }
}



.bi {
    margin-right: 5px;
}

#foot {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    align-items: center;
    height: 45px;
    color: white;

    a {
        color: white;
    }
}

.containers {
    background-color: black;

}

.col {
    padding-top: 25px;
    color: white;
   
    a {
        display: flex;
        align-items: start;
        text-decoration: none;
        color: white;

    }

    .span {
        display: flex;
        align-items: start;
    }
    .title {
         padding-bottom: 10px;
    }

    p {
         padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }


}

.net {
    display: flex;
    padding-top: 13px;
}

.last {
    background-color: rgb(34, 34, 34);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 6px;
}